force-app/main/default/flows/Calculate_Discounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Discount_is_0</name>
        <label>Discount is 0%</label>
        <locationX>627</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_is_10</name>
        <label>Discount is 10%</label>
        <locationX>258</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_is_5</name>
        <label>Discount is 5%</label>
        <locationX>441</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Discount</name>
        <label>Determine Discount</label>
        <locationX>431</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Discount_is_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>Full_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Related_Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_is_10</targetReference>
            </connector>
            <label>Full Discount</label>
        </rules>
        <rules>
            <name>Partial_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Related_Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Related_Account.AnnualRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_is_5</targetReference>
            </connector>
            <label>Partial Discount</label>
        </rules>
    </decisions>
    <interviewLabel>Calculate Discounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Discounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Related_Account</name>
        <label>Find Related Account</label>
        <locationX>438</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Discount_Field</name>
        <label>Update Discount Field</label>
        <locationX>443</locationX>
        <locationY>476</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_Percentage__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Related_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID number of the account associated with the opportunity</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
