force-app/main/default/flows/flow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>var4</name>
        <label>var4</label>
        <locationX>397</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>var1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var3</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>var3</name>
        <choiceText>{!var1}{!var2}</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>flow1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>178</locationX>
        <locationY>256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>var4</targetReference>
        </connector>
        <fields>
            <name>choice1</name>
            <choiceReferences>var3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>choice1</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>choice2</name>
            <choiceReferences>var3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>choice2</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>var2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
</Flow>
