force-app/main/default/flows/updateChildRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addUpdatedOppp</name>
        <label>addUpdatedOppp</label>
        <locationX>618</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>updatedOpportunityVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVarOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewOpp</name>
        <label>assignNewOpp</label>
        <locationX>727</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>loopVarOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopVarOpportunity.flow_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopVarOpportunity.TrackingNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdatedOppp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>rb4</name>
        <choiceText>option 1</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>rb4</elementReference>
        </value>
    </choices>
    <choices>
        <name>rb5</name>
        <choiceText>option 2</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>vvv</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>updateChildRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateChildRecord</label>
    <loops>
        <name>OpportunityLoop</name>
        <label>OpportunityLoop</label>
        <locationX>510</locationX>
        <locationY>34</locationY>
        <assignNextValueToReference>loopVarOpportunity</assignNextValueToReference>
        <collectionReference>getChildRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignNewOpp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>135</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChildRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChildRecords</name>
        <label>getChildRecords</label>
        <locationX>289</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpp</label>
        <locationX>512</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <inputReference>updatedOpportunityVar</inputReference>
    </recordUpdates>
    <screens>
        <name>sc</name>
        <label>sc</label>
        <locationX>135</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <fields>
            <name>pl</name>
            <choiceReferences>vvv</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cb</name>
            <dataType>Boolean</dataType>
            <fieldText>cb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pl</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt</name>
            <dataType>Date</dataType>
            <fieldText>dt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>511</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;Child Records are updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>10</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>sc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopVarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rbval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>dt</elementReference>
        </value>
    </variables>
    <variables>
        <name>rbval2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>see here</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedOpportunityVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
